.button {
  padding: 10px 25px;

  display: flex;
  align-items: center;

  border: none;
  border-radius: $br-0;
  background-color: $main-blue;

  @include font(14px, 14px, 400, $default-white);

  & > svg {
    margin-right: 5px;
  }
}