@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'),
  url('~@/assets/fonts/inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'),
  url('~@/assets/fonts/inter/Inter-Bold.ttf') format('truetype');
}